In [116]:
import pandas as pd
pd.set_option('display.max_columns', 999)

In [117]:
df = pd.read_csv('train.csv')

In [118]:
#only 4 rumored movies... have no revenue data so useless in our analysis
df=df[df['status']=='Released']

In [119]:
df['homepage'] = df['homepage'].fillna(value=0)

# 1 if homepage, 0 if no homepage
df['homepage'] = (df['homepage']!= 0).astype(int)

In [120]:
df['belongs_to_collection'] = df['belongs_to_collection'].fillna(value=0)

# 1 if collection, 0 if not
df['belongs_to_collection'] = (df['belongs_to_collection']!= 0).astype(int)

In [121]:
# 1 if english, 0 if not english
df['original_language'] = (df['original_language']== 'en').astype(int)

In [122]:
df.drop(columns=['imdb_id','poster_path','original_title','status','spoken_languages','tagline','overview'],inplace=True)

In [148]:
df.head()

,id,belongs_to_collection,budget,genres,homepage,original_language,popularity,production_companies,production_countries,release_date,runtime,title,Keywords,cast,crew,revenue
0,1,1,14000000,"[{'id': 35, 'name': 'Comedy'}]",0,1,6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",0,1,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,0,3300000,"[{'id': 18, 'name': 'Drama'}]",1,1,64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/10/14,105.0,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,0,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",1,0,3.174936,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",3/9/12,122.0,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",0,0,1.148070,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2/5/09,118.0,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970